.footer {
	margin-top: auto;
	padding: 40px 0 40px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(93, 113, 221, 0.05);
	font-family: "Futura PT";
}

.menu_footer {
	margin-top: 40px;
	gap: 80px;
}

.licence {
	margin-top: 64px;
	font-size: 14px;
}

@media (max-width: 767px) {
	.menu_footer {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}
